

@import "tailwindcss";


/* فونت وزیر - معمولی */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/vazir/Vazir.woff2') format('woff2'),
       url('/fonts/vazir/Vazir.woff') format('woff'),
       url('/fonts/vazir/Vazir.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* فونت وزیر - بولد */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/vazir/Vazir-Bold.woff2') format('woff2'),
       url('/fonts/vazir/Vazir-Bold.woff') format('woff'),
       url('/fonts/vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* فونت وزیر - لایت */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/vazir/Vazir-Light.woff2') format('woff2'),
       url('/fonts/vazir/Vazir-Light.woff') format('woff'),
       url('/fonts/vazir/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* فونت وزیر - مدیوم */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/vazir/Vazir-Medium.woff2') format('woff2'),
       url('/fonts/vazir/Vazir-Medium.woff') format('woff'),
       url('/fonts/vazir/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* فونت وزیر - تین */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/vazir/Vazir-Thin.woff2') format('woff2'),
       url('/fonts/vazir/Vazir-Thin.woff') format('woff'),
       url('/fonts/vazir/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



body {
  font-family: 'Vazir', sans-serif;
}
  
.flex-1{
  flex:1
}
.flex-2{
  flex:2
}
.flex-3{
  flex:3
}
.flex-4{
  flex:4
}
.flex-5{
  flex:5
}
.flex-6{
  flex:6
}
.flex-7{
  flex:7
}

